<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
   
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ZovTrade.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    </configSections>
  <connectionStrings>
    <add name="ZovTrade.Properties.Settings.barcodeCS" connectionString="Data Source=192.168.100.18\sql2008expr;Initial Catalog=trade;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <ZovTrade.Properties.Settings>
      <setting name="cs_user" serializeAs="String">
        <value />
      </setting>
      <setting name="needFirstRunSplash" serializeAs="String">
        <value>True</value>
      </setting>
    </ZovTrade.Properties.Settings>
  </userSettings>
</configuration>